
@inherits FileUpBase
@inject NotificationService NS

@using TorneosV2.Modelos

<h5>Formatos permitidos PDF, XLM, JPG, JPEG y PNG </h5>
<h5>Tamaño maximo de los archivos 1MB</h5>

@if (ElRegistro != null)
{
    <RadzenTemplateForm Data="@Borrador" Submit="@((Z170_Files args) => { AddFile(args); })">
        <div class="container-fluid" style="background: lightgray;">
            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Text="Documento" />
                </div>
                <div class="col-md-5">
                    @if (ElRegistro.Status)
                    {
                        <RadzenLabel>Registro - @ElRegistro.Fecha</RadzenLabel>
                    }
                    else
                    {
                        <RadzenLabel>No hay registro</RadzenLabel>
                    }
                </div>
                <div class="col-md-4">

                </div>
            </div>

            <div class="row" style="background:gray">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Text="Tipo de archivo" />
                </div>
                <div class="col-md-5">
                    <RadzenDropDown Name="Tipo" Data=DocsTipo @bind-Value=@ElTipoArchivo
                                    ValueProperty="Key" TextProperty="Value" AllowClear="false"
                                    Style="width: 100%;" />
                </div>
                <div class="col-md-4">

                </div>
            </div>

            <div class="row">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Text="Titulo" />
                </div>
                <div class="col-md-5">
                    <RadzenTextBox Name="Titulo" @bind-Value="ElTitulo" Style="width: 100%;"
                                   Placeholder="Titulo opcional" MaxLength="75" />
                </div>
                <div class="col-md-4">

                </div>
            </div>

            <div class="row" style="background:gray">
                <div class="col-md-3 align-items-center d-flex">
                    <RadzenLabel Text="Archivo" />
                </div>
                <div class="col-md-5">
                    @if (ElTipoArchivo != "")
                    {
                        <div class="dropArea @dropClass">
                            <label>Arrastra tu archivo o </label><br />
                            <label> haz click para seleccionar!! </label>
                            <InputFile disable="@Uploading"
                                       OnChange="OnInputFileChange"
                                       @ondragenter="HandleDragEnter"
                                       @ondragleave="HandleDragLeave" max-file-size="10485760" />

                        </div>

                        <br />
                        @if (Uploading)
                        {
                            <progress style="height:50px;width:100%;" value="@UploadedBytes" max="@TotalBytes"></progress>
                        }
                    }
                </div>
                <div class="col-md-4">

                </div>
            </div>


        </div>
    </RadzenTemplateForm>

}
else
{
    @if (ElRegistro.Estado != 1)
    {
        <RadzenLabel>@($"El estado del Folio Entregado no permite agregar archivos")</RadzenLabel>
    }
    else
    {
        <RadzenLabel>@($"El estado del Factura Pagado no permite agregar archivos")</RadzenLabel>
    }

}

@code {
    void Cancelar()
    {
        Borrador = new("","","","",3,false);
    }
    async void AddFile(Z170_Files archivo)
    {
        await Agregar(archivo);
    }

    async Task Agregar(Z170_Files archivo)
    {


    }
}

